<template>
    <lightning-card title="Hello World 3" icon-name="action:add_contact">
        <div class="slds-m-around_medium">
            <p>Hello {greeting}!</p>
            <lightning-input label="Name" value={greeting} onchange={changeHandler}></lightning-input>
        </div>
    </lightning-card>
</template>