<template>
    <lightning-card title="hello WORLD" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <p>
                Hello, {greeting}!
            </p>
            <lightning-input label="Name" value={greeting} onchange={changeHandler}>
                
            </lightning-input>
        </div>

    </lightning-card>
</template>